.auth-form{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.auth-form a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}