.details-cart{
    background-color: rgb(200, 200, 235);
    border: 2px solid #fff;
    border-radius: 10px;
}
.details-cart:hover{
    background-color: rgb(146, 223, 96);
}
.details-cart img{
    height: 100px;
    width: 100px;
border-radius: 50%;
}
.btn-dtails{
    background-color: rgb(200, 200, 235);
    color: black;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.btn-dtails:hover{
    background-color:rgb(163, 97, 224);
    color: blanchedalmond;
}
.cart-title{
    color: blue;
    font-weight: 700;
    font-family: cursive;
    border-bottom: 1px solid blue;
}
.description{
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

